
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-1 col-sm-3 col-md-4=""></ion-col>

      <ion-col col-10 col-sm-6 col-md-4="" >
        <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
          <ion-row>

            <ion-col text-center="">
              <img style="height: 150px; width: auto" src="assets/imgs/everything_.svg">
            </ion-col>

          </ion-row>

          <ion-item>
            <ion-label color="primary" stacked="">
              <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;E-Mail Address
            </ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>
              <ion-icon name="key"></ion-icon>&nbsp;&nbsp;Password
            </ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label color="primary">
              Remember Me
            </ion-label>
            <ion-checkbox formControlName="remember" ></ion-checkbox>
          </ion-item>

          <ion-row>
            <ion-col col-12></ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12> <button ion-button float-right>Log In</button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>

      <ion-col col-1 col-sm-3 col-md-4=""></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
