<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-grid text-center>
        <ion-row>
          <ion-col col-6 col-sm-4 col-md-4>
            <ion-card>
              <button ion-item no-lines text-center (click)="openPendingTicketPage()">

                <ion-icon name="sync" color="primary"></ion-icon>
                <ion-card-header></ion-card-header>

                <label>Pending Ticket</label>
              </button>
            </ion-card>

          </ion-col>

          <ion-col col-6 col-sm-4 col-md-4>
            <ion-card>
              <button ion-item no-lines text-center (click)="openApprovedTicketPage()">

                <ion-icon name="checkmark-circle" color="primary"></ion-icon>
                <ion-card-header></ion-card-header>

                <label>Approved Ticket</label>
              </button>
            </ion-card>

          </ion-col>

          <ion-col col-6 col-sm-4 col-md-4>
            <ion-card>
              <button ion-item no-lines text-center (click)="openRejectedTicketPage()">

                <ion-icon name="alert" color="primary"></ion-icon>
                <ion-card-header></ion-card-header>

                <label>Rejected Ticket</label>
              </button>
            </ion-card>

          </ion-col>

          <ion-col col-6 col-sm-4 col-md-4>
            <ion-card>
              <button ion-item no-lines text-center (click)="openCreateMaintenanceProjectPage()">

                <ion-icon name="construct" color="primary"></ion-icon>
                <ion-card-header></ion-card-header>

                <label>New Project</label>
              </button>
            </ion-card>

          </ion-col>

          <ion-col col-6 col-sm-4 col-md-4>
            <ion-card>
              <button ion-item no-lines text-center (click)="openStaffInfoPage()">

                <ion-icon name="person" color="primary"></ion-icon>
                <ion-card-header></ion-card-header>

                <label>Account Info</label>
              </button>
            </ion-card>

          </ion-col>

          <ion-col col-6 col-sm-4 col-md-4>
            <ion-card>
              <button ion-item no-lines text-center (click)="onLogout()">

                <ion-icon name="exit" color="primary"></ion-icon>
                <ion-card-header></ion-card-header>

                <label>Logout</label>
              </button>
            </ion-card>

          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>



  <!--<ion-card>
    <ion-card-header>
      <ion-icon name="sync" item-start color="primary"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      Pending Ticket
    </ion-card-content>
  </ion-card>-->
</ion-content>
