page-dashboard {
  ion-col{
    padding: 0 0 0 0 !important;
  }
  ion-card {

    margin: 0 0 0 0 ;
    padding: 0 0 0 0 ;
  }

  ion-icon{
    font-size: 250%; //Preferred size here
  }
  label{
    font-size: 85%;
    font-weight: 500;
    white-space: normal;
  }
}
