<ion-header>
  <ion-navbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>



  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="newMsg()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-row>
    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-item no-lines text-center *ngIf="mesProvider.list.length == 0">No message</ion-item>


      <ion-card *ngFor="let mes of mesProvider.list">
        <ion-card-content>
          <ion-card-title>{{mes.title}}</ion-card-title>
          <p>
            {{mes.message}}
          </p>
          <ion-note>{{mes.dateCreated}}.</ion-note>
        </ion-card-content>

      </ion-card>
    </ion-col>

    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>

</ion-content>
