
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Local Authority Info
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



<ion-content padding>
  <ion-item-group>

    <ion-item>
      Name
      <ion-row>
        <ion-note text-wrap text-justify>{{staffInfo.localAuthorityStaff.localAuthority.fullName}}
          ({{staffInfo.localAuthorityStaff.localAuthority.acronym}})
        </ion-note>
      </ion-row>
    </ion-item>


    <ion-item>
      Address
      <ion-row>
        <ion-note text-wrap text-justify>{{staffInfo.localAuthorityStaff.localAuthority.address}}</ion-note>
      </ion-row>
    </ion-item>

    <ion-item>
      Contact No.
      <ion-row>
        <ion-note text-wrap text-justify>{{staffInfo.localAuthorityStaff.localAuthority.contactNo}}</ion-note>
      </ion-row>
    </ion-item>

    <ion-item>
      Email Address
      <ion-row>
        <ion-note text-wrap text-justify>{{staffInfo.localAuthorityStaff.localAuthority.email}}</ion-note>
      </ion-row>
    </ion-item>

    <ion-item>
      Website
      <ion-row>
        <ion-note text-wrap text-justify>{{staffInfo.localAuthorityStaff.localAuthority.website}}</ion-note>
      </ion-row>
    </ion-item>
  </ion-item-group>

</ion-content>
