
<ion-header>

  <ion-navbar>
    <ion-title>Project Feedback</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-list>

        <ion-item no-lines text-center *ngIf="feedbackProvider.totalFeedback == 0">No feedback</ion-item>

        <div id="overallRate" text-center *ngIf="feedbackProvider.totalFeedback != 0">
          <strong ion-text color="primary">{{feedbackProvider.avgRating}}</strong>
          <rating [(ngModel)]="feedbackProvider.avgRating" readOnly="true"></rating>
          <ion-note>
            <ion-icon name="person"></ion-icon>
            {{feedbackProvider.totalFeedback}}
          </ion-note>
        </div>

        <ion-card *ngFor="let item of feedbackProvider.feedbackList">
          <ion-item>
            <ion-avatar item-start>
              <img src="{{item.publicUser.profilePicPath}}" onerror="this.src = 'assets/imgs/no-avatar.png'">
            </ion-avatar>
            <h2>{{item.publicUser.firstName}}</h2>
            <rating [(ngModel)]="item.rating" readOnly="true"></rating>
            <ion-note>{{item.dateUpdated}}</ion-note>
          </ion-item>

          <ion-card-content>
            <h2><strong>{{item.title}}</strong></h2>
            <p>{{item.message}}</p>
          </ion-card-content>

        </ion-card>

      </ion-list>
    </ion-col>
    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>


</ion-content>


