

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Maintenance Project</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <mat-horizontal-stepper [linear]="true">

    <mat-step [stepControl]="ticketInfo" label="Ticket Info" [completed]="false" *ngIf="ticket!=null">
      <form [formGroup]="ticketInfo">

        <ion-item no-lines>
          <h1>Ticket Info</h1>
        </ion-item>

        <ion-item style="color: grey">
          Ticket ID
          <ion-note item-end style="color: black">
            {{ticket?.id}}
          </ion-note>
        </ion-item>

        <ion-item style="color: grey">
          Category
          <ion-note item-end style="color: black">
            {{ticket?.facilityType?.name}}
          </ion-note>
        </ion-item>

        <ion-item style="color: grey">
          <ion-row>
            Title
          </ion-row>
          <ion-row>
            <ion-note item-end style="color: black">
              {{ticket?.title}}
            </ion-note>
          </ion-row>
        </ion-item>

        <ion-item style="color: grey">
          <ion-row>
            Description
          </ion-row>
          <ion-row>
            <ion-note item-end text-wrap text-justify style="color: black">
              {{ticket?.description}}
            </ion-note>
          </ion-row>

        </ion-item>

        <!--<ion-list radio-group [(ngModel)]="content" [ngModelOptions]="{standalone: true}"  >

          <ion-item>
            <ion-label>Blank project</ion-label>
            <ion-radio value="blank" id="blank"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Refer to Ticket ID</ion-label>
            <ion-radio value="fromTicket" id="fromTicket"></ion-radio>
          </ion-item>

          <ion-item *ngIf="content=='fromTicket'">
            <ion-list>
              <button ion-item *ngFor="let item of ticketList.list">
                {{item.id}}
              </button>
            </ion-list>
          </ion-item>

        </ion-list>-->

        <ion-item-divider no-lines></ion-item-divider>

        <button ion-button float-right matStepperNext [disabled]="!ticketInfo.valid">Next</button>

      </form>
    </mat-step>

    <mat-step [stepControl]="projectScopeForm" label="Project Scope" [completed]="false">
      <form [formGroup]="projectScopeForm">

        <ion-item no-lines>
          <h1>Project Scope</h1>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Project Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Project Description</ion-label>
          <ion-textarea type="text" formControlName="description"></ion-textarea>
        </ion-item>

        <ion-item-divider no-lines></ion-item-divider>

        <button ion-button float-right matStepperNext [disabled]="!projectScopeForm.valid">Next</button>

      </form>
    </mat-step>

    <mat-step [stepControl]="additionalInfoForm" label="Additional Info" [completed]="false">
      <form [formGroup]="additionalInfoForm">

        <ion-item no-lines>
          <h1>Additional Info</h1>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Estimated Project Budget (RM)</ion-label>
          <ion-input formControlName="budget" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="calendar"></ion-icon>
            Project Start Date
          </ion-label>
          <ion-datetime formControlName="startDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                        placeholder="Day/Month/Year"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="calendar"></ion-icon>
            Project End Date
          </ion-label>
          <ion-datetime formControlName="endDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                        placeholder="Day/Month/Year"></ion-datetime>
        </ion-item>

        <ion-item-divider no-lines></ion-item-divider>

        <button ion-button float-right matStepperNext [disabled]="!additionalInfoForm.valid">Next</button>
        <button ion-button float-right matStepperPrevious>Back</button>

      </form>
    </mat-step>

    <mat-step [stepControl]="projectProgressForm" label="Project Progress*" [completed]="false">
      <form [formGroup]="projectProgressForm">

        <ion-item no-lines>
          <h1>Project Progress*</h1>
          <br>
          <p text-wrap>*If there is no latest progress of the project, you may leave this section blank.</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Project Progress</ion-label>
          <ion-input formControlName="progressTitle"></ion-input>
        </ion-item>
        <ion-label *ngIf="projectProgressForm.hasError('emptyTitle')" class="error-label">Please fill in progress title!</ion-label>

        <ion-item>
          <ion-label color="primary" stacked>Progress Description</ion-label>
          <ion-textarea rows="5" formControlName="progressDes"></ion-textarea>
        </ion-item>

        <ion-label *ngIf="projectProgressForm.hasError('emptyDes')" class="error-label">Please fill progress description!</ion-label>

        <ion-item-divider no-lines></ion-item-divider>

        <button ion-button float-right [disabled]="!projectProgressForm.valid" (click)="onSubmit()">Submit</button>
        <button ion-button float-right matStepperPrevious>Back</button>

      </form>
    </mat-step>


  </mat-horizontal-stepper>
</ion-content>
