<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Staff Info</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-1 col-sm-3 col-md-3=""></ion-col>

    <ion-col col-10 col-sm-6 col-md-6="">

      <ion-row>
        <ion-col text-center="">

          <img src="{{staffInfo.localAuthorityStaff.localAuthority.logoPath}}"
               onerror="this.src = 'assets/imgs/no-avatar.png'">

        </ion-col>
      </ion-row>

      <ion-item-group>
        <ion-item>
          E-mail
          <ion-row>
            <ion-note text-wrap text-justify>{{staffInfo.localAuthorityStaff.email}}</ion-note>
          </ion-row>
        </ion-item>

        <ion-item>
          Name
          <ion-row>
            <ion-note text-wrap text-justify>{{staffInfo.localAuthorityStaff.firstName}} {{staffInfo.localAuthorityStaff.lastName}}</ion-note>
          </ion-row>
        </ion-item>


        <button ion-item (click)="pushChangePasswordPage()">
          <ion-label color="primary">Change Password</ion-label>
        </button>

        <button ion-item (click)="openLocalAuthorityInfoModal()">
          <ion-label color="primary">Local Authority Info</ion-label>
        </button>

      </ion-item-group>


      <ion-row>

      </ion-row>

    </ion-col>

    <ion-col col-1 col-sm-3 col-md-3=""></ion-col>
  </ion-row>
</ion-content>
