<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>EVERYTHING - Local Authority</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>


      <ion-item>
        <ion-avatar item-start>
          <img src="{{laStaffUser.localAuthorityStaff.localAuthority.logoPath}}" onerror="this.src = 'assets/imgs/no-avatar.png'">
        </ion-avatar>
        <h2>{{laStaffUser.localAuthorityStaff.firstName}}</h2>
        <p>{{laStaffUser.localAuthorityStaff.email}}</p>
        <p>{{laStaffUser.localAuthorityStaff.localAuthority.acronym}}</p>
      </ion-item>

    <ion-item-group>
      <button menuClose ion-item no-lines (click)="openDashBoardPage()">
        <ion-icon name="home" item-start=""></ion-icon>Home</button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <strong>Complaint Ticket</strong>
      </ion-item-divider>
      <button menuClose ion-item (click)="openPendingTicketPage()"><ion-icon name="sync" item-start></ion-icon>Pending Tickets</button>
      <button menuClose ion-item (click)="openApprovedTicketPage()"><ion-icon name="checkmark-circle" item-start></ion-icon>Approved Tickets</button>
      <button menuClose ion-item (click)="openRejectedTicketPage()"><ion-icon name="alert" item-start></ion-icon>Rejected Tickets</button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <strong>Maintenance Project</strong>
      </ion-item-divider>
      <button menuClose ion-item (click)="openCreateMaintenanceProjectPage()">
        <ion-icon name="construct" item-start></ion-icon>New Project
      </button>

      <button menuClose ion-item (click)="openMyMaintenanceProjectPage()">
        <ion-icon name="hammer" item-start></ion-icon>Public Request Projects</button>

      <button menuClose ion-item (click)="openLocalAuthorityProjectPage()">
        <ion-icon name="hammer" item-start></ion-icon>Local Authority Projects</button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <strong>Staff Account</strong>
      </ion-item-divider>
      <button menuClose ion-item (click)="openStaffInfoPage()"><ion-icon name="person" item-start></ion-icon>Staff Info</button>
      <button menuClose ion-item (click)="onLogout()"><ion-icon name="exit" item-start></ion-icon>Logout</button>

    </ion-item-group>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content [swipeBackEnabled]="false"></ion-nav>

