
<ion-header>
  <ion-toolbar>
    <ion-title>
     New Message
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="messageFormGroup" (ngSubmit)="onSubmitMessageForm()">

    <ion-item>
      <ion-label color="primary" floating>Subject</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Description</ion-label>
      <ion-textarea rows="5" formControlName="message"></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button float-right type="submit" [disabled]="!messageFormGroup.valid">SUBMIT</button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
