
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rejected Ticket</ion-title>
  </ion-navbar>

</ion-header>

<!--todo: modify the ticket layout detail to differentiate it with user one-->

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-item no-lines text-center *ngIf="rejectedTicket.list.length == 0">No record</ion-item>

      <ion-card *ngFor="let ticket of rejectedTicket.list, let i=index">
        <ion-card-content>
          <ion-card-title>{{ticket.title}}</ion-card-title>
          <p>
            <strong>Ticket ID: {{ticket.id}}</strong>
          </p>
          <p>
            Submitted On: {{ticket.dateCreated}}
          </p>
        </ion-card-content>
        <ion-row no-padding>

          <ion-item>
            <button ion-button clear small float-right (click)="showMessage(i)">
              Messages
            </button>

            <button ion-button clear small float-left (click)="presentDescriptionModal(i)">
              Description
            </button>
          </ion-item>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>


</ion-content>
