
<ion-header>
  <ion-toolbar>
    <ion-title>
      New Project Progress
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="progressFormGroup" (ngSubmit)="onSubmitProgressForm()">

    <ion-item>
      <ion-label color="primary" floating>Project Progress</ion-label>
      <ion-input formControlName="progress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Progress Description</ion-label>
      <ion-textarea rows="5" formControlName="description"></ion-textarea>
    </ion-item>


    <ion-row>
      <ion-col>
        <button ion-button float-right type="submit" [disabled]="!progressFormGroup.valid">SUBMIT</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
