
<ion-header>
  <ion-toolbar>
    <ion-title>
      Ticket Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item style="color: grey">
    <ion-row>
      Title
    </ion-row>
    <ion-row>
      <ion-note item-end style="color: black">
        {{complaintTicket.title}}
      </ion-note>
    </ion-row>
  </ion-item>

  <ion-item style="color: grey">
    <ion-row>
      Description
    </ion-row>
    <ion-row>
      <ion-note item-end text-wrap text-justify style="color: black">
        {{complaintTicket.description}}
      </ion-note>
    </ion-row>

  </ion-item>

  <ion-item *ngIf="complaintTicket.xCor!=null" style="color: grey">
    Location
    <ion-row>
      <ion-note item-end style="color: black">
        X-Coordinate: {{complaintTicket.xCor}}
      </ion-note>
    </ion-row>
    <ion-row>
      <ion-note item-end style="color: black">
        Y-Coordinate: {{complaintTicket.yCor}}
      </ion-note>
    </ion-row>

  </ion-item>

  <ion-item *ngIf="complaintTicket.address!=null" style="color: grey">
    <ion-row>
      Address
    </ion-row>
    <ion-row>
      <ion-note item-end text-wrap text-justify style="color: black">
        {{complaintTicket.address}}
      </ion-note>
    </ion-row>

  </ion-item>

  <ion-item style="color: grey">
    Status
    <ion-note item-end style="color: black">
      {{complaintTicket.status.name}}
    </ion-note>
  </ion-item>

  <ion-item style="color: grey">
    Reported To
    <ion-note item-end style="color: black">
      {{complaintTicket.localAuthority.fullName}}
    </ion-note>
  </ion-item>

  <ion-item style="color: grey">
    Ticket ID
    <ion-note item-end style="color: black">
      {{complaintTicket.id}}
    </ion-note>
  </ion-item>

  <ion-item style="color: grey">
    Category
    <ion-note item-end style="color: black">
      {{complaintTicket.facilityType.name}}
    </ion-note>
  </ion-item>



  <ion-item style="color: grey">
    <ion-row>
      Photos
    </ion-row>
    <ion-row>
      <ion-thumbnail item-start>
        <img src="{{complaintTicket.photoPath1}}" onerror="this.src = 'assets/imgs/no-image.png'">
      </ion-thumbnail>
      <ion-thumbnail item-start>
        <img src="{{complaintTicket.photoPath2}}" onerror="this.src = 'assets/imgs/no-image.png'">
      </ion-thumbnail>
      <ion-thumbnail item-start>
        <img src="{{complaintTicket.photoPath3}}" onerror="this.src = 'assets/imgs/no-image.png'">
      </ion-thumbnail>
    </ion-row>

  </ion-item>


</ion-content>
