
<ion-header>

  <ion-navbar>
    <ion-title>Project Progress</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="displayAddProjectProgressModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-row>
    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-item no-lines text-center *ngIf="progressProvider.list.length == 0">No progress</ion-item>


      <ion-card *ngFor="let item of progressProvider.list">

        <ion-card-content>

          <ion-card-title>{{item.title}}</ion-card-title>

          <p>{{item.message}}</p>

          <ion-row>
            <ion-note float-right="">{{item.dateReplied}}</ion-note>
          </ion-row>

        </ion-card-content>

      </ion-card>
    </ion-col>
    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>


</ion-content>
