
<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Project Details
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss(false)">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="projectDetailFormGroup" (ngSubmit)="onSubmitProjectDetailEditForm()">

    <ion-item>
      <ion-label color="primary" floating>Project ID</ion-label>
      <ion-input [disabled]="true" value="{{myProject.id}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Project Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Project Description</ion-label>
      <ion-textarea rows="5" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Status</ion-label>
      <ion-select formControlName="status">
        <ion-option *ngFor="let item of projectStatus.list, let i = index" value="{{item.id}}">{{item.statusName}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Estimated Project Budget</ion-label>
      <ion-input formControlName="budget" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>
        <ion-icon name="calendar"></ion-icon>
        Project Start Date
      </ion-label>
      <ion-datetime formControlName="startDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                    placeholder="Day/Month/Year"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>
        <ion-icon name="calendar"></ion-icon>
        Project End Date
      </ion-label>
      <ion-datetime formControlName="endDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                    placeholder="Day/Month/Year"></ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button float-right type="submit" [disabled]="!projectDetailFormGroup.valid">SUBMIT</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
