
<ion-header>

  <ion-navbar>
    <ion-title>Project Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editDetail()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-item style="color: grey">
        <ion-row>
          Project Title
        </ion-row>
        <ion-row>
          <ion-note item-end text-wrap text-justify style="color: black">
            {{myProject.title}}
          </ion-note>
        </ion-row>

      </ion-item>

      <ion-item style="color: grey">
        <ion-row>
          Project Description
        </ion-row>
        <ion-row>
          <ion-note item-end text-wrap text-justify style="color: black">
            {{myProject.description}}
          </ion-note>
        </ion-row>

      </ion-item>

      <ion-item style="color: grey">
        Status
        <ion-note item-end style="color: black">
          {{myProject.status.statusName}}
        </ion-note>
      </ion-item>

      <ion-item style="color: grey">
        Project ID
        <ion-note item-end style="color: black">
          {{myProject.id}}
        </ion-note>
      </ion-item>

      <ion-item style="color: grey">
        Project Start Date
        <ion-note item-end style="color: black">
          {{myProject.startDate}}
        </ion-note>
      </ion-item>

      <ion-item style="color: grey">
        Project End Date
        <ion-note item-end style="color: black">
          {{myProject.endDate}}
        </ion-note>
      </ion-item>

      <ion-item style="color: grey">
        Estimated Budget
        <ion-note item-end style="color: black">
          RM {{myProject.budget}}
        </ion-note>
      </ion-item>

      <ion-item style="color: grey">
        Local Authority
        <ion-note item-end style="color: black">
          {{myProject.localAuthority.acronym}}
        </ion-note>

      </ion-item>


      <ion-item style="color: grey">
        Created On
        <ion-note item-end style="color: black">
          {{myProject.dateCreated}}
        </ion-note>

      </ion-item>

      <ion-item style="color: grey">
        Last Updated
        <ion-note item-end style="color: black">
          {{myProject.dateUpdated}}
        </ion-note>

      </ion-item>

    </ion-col>
    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>


</ion-content>
